@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
    //ViewData["Title"] = "ClientRestaurants";
}

<h2>Client Resturants</h2>

@section Scripts {

    <environment include="Development">
        <script src="C:\Users\Bartek\source\repos\OdeToFood\OdeToFood\node_modules\datatables.net\js\jquery.dataTables.js"></script>
        <script src="C:\Users\Bartek\source\repos\OdeToFood\OdeToFood\node_modules\datatables.net-bs\js\dataTables.bootstrap.js"></script>
        <link href="C:\Users\Bartek\source\repos\OdeToFood\OdeToFood\node_modules\datatables.net-bs\css\dataTables.bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.js"></script>
    </environment>   

    <script>
        $(function () {
            $.ajax("/api/restaurants/", { method: "get" })
                .then(function (response) {

                })
        })
    </script>
}