@page "{restaurantId:int}"
@model OdeToFood.Pages.Restaurants.EditModel
@{
}

<h2>Edit @Model.Restaurant.Name</h2>

<form method="post">
    <input tpye="hidden" asp-for="Restaurant.Id" />
    <div class="form-group">
        <label asp-for="Restaurant.Name">Name</label>
        <input asp-for="Restaurant.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Location">Location</label>
        <input asp-for="Restaurant.Location" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Type">Cuisine</label>
        <select class="form-control" asp-for="Restaurant.Type" asp-items="Model.Cuisines">
            
        </select>
    </div>

    <button type="submit" calss="btn btn-primary">Save</button>
</form>
